
* {
    font-family: 'Geometria', sans-serif;
}

@import 'blocks/travel';
@import 'blocks/media';

.container {
    margin-left: 160px;
    padding: 0;
    
    
}

.container-fluid {
    margin-left: 160px;
    margin-right: 160px;
    // width: 1600px;
    padding: 0;
    
    
}