@media (max-width: 1700px) {
    .container-fluid {
        margin-right: 0;
    }
    .travel {
        .header {
            h1 {
                font-size: 75px;
            }
            &__contact {
                width: 100%;
            }
            &__data {
                font-size: 20px;
            }
            &__place {
                font-size: 11px;
            }
            &__line {
                height: 7px;
                width: 210px;
            }
        }
        .descr {
            &__text {
                font-size: 16px;
            }
            h2 {
                font-size: 30px;
            }
        }
    }
    
}
@media (max-width: 1200px) {
    // .container-fluid {
    //     width: 800px;
    // }
    .travel {
        .header {
            h1 {
                font-size: 40px;
            }
            // &__contact {
            //     justify-content: flex-end;
            //     align-items: flex-end;
            // }
            &__data {
                font-size: 20px;
            }
            &__place {
                font-size: 12px;
            }
            &__line {
                height: 7px;
                width: 250px;
            }
        }
        .descr {
            &__text {
                font-size: 14px;
            }
            h2 {
                font-size: 20px;
            }
        }
    }
    
}
@media (max-width: 991px) {
    .container-fluid {
        margin-right: 0;
    }
    .travel {
        .header {
            h1 {
                font-size: 30px;
            }
            
            &__data {
                font-size: 14px;
            }
            &__place {
                font-size: 9px;
            }
            &__line {
                height: 6px;
                width: 155px;
            }
        }
        .descr {
            &__text {
                font-size: 14px;
            }
            h2 {
                font-size: 18px;
            }
        }
        .contacts {
            &__mail {
                a {
                    font-size: 16px;
                }
            }
        }
    }

    
}

@media (max-width: 767px) {
    
    .travel {
        .container-fluid {
            margin-right: 0;
            margin-left: 60px;
        }
        .container {
            margin-left: 60px;
        }
        .header {
            h1 {
                font-size: 35px;
            }
            &__contact {
                width: 100%;
                align-items: flex-start;
            
            }
            &__data {
                font-size: 16px;
            }
            &__place {
                font-size: 12px;
            }
            &__line {
                height: 6px;
                width: 205px;
            }
        }
        .descr {
            &__text {
                margin-top: 10px;
                font-size: 14px;
            }
            h2 {
                margin-top: 10px;
                font-size: 16px;
            }
        }
        .contacts {
            &__information {
                margin-top: 12px;
            }
            &__mail {
                margin-right: 10px;
                a {
                    font-size: 14px;
                }
            }
        }
    }
    
}
@media (max-width: 575px) {
    
    .travel {
        min-height: 1365px;
        .container-fluid {
            margin-left: 16px;
        }
        .container {
            margin-left: 16px;
        }
        .header {
            padding-top: 20px;
            h1 {
                font-size: 30px;
            }
            
        }
        .descr {
            &__img {
                max-width: 310px;
                margin-top: 20px;
                img {
                    max-width: 100%;
                }
            }
            &__contact {
                // width: 312px;
                margin-top: 20px;
                height: 89px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;    
                color: #FFFFFF;
                text-transform: uppercase;  
            }   
            &__data {
                font-weight: 700;
                font-size: 26px;
            }
            &__place {
                font-weight: 400;
                font-size: 16px;
            }
            &__line {
                width: 280px;
                height: 8px;
                background: #FFD874;
            }

            &__text {
                width: 300px;
                font-size: 14px;
            }
            h2 {
                margin-top: 20px;
                font-size: 16px;
            }
        }
        .contacts {
            &__information {
                padding-left: 15px;
                margin-top: 10px;
                display: flex;
                flex-direction: column;
            }
            &__mail {
                margin-top: 14px;
            }
            &__text {
                font-size: 12px;
            }
        }
        .footer {
            
            &__logo {
                margin-right: 15px;
                max-width: 161px;
                img {
                    width: 100%;
                }
            }
            &__social {
                width: 120px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }
    
}