.travel {
    position: relative;
    min-height: 980px;
    background: url('../img/bg.jpg') center center/cover no-repeat;
    
    .header {
        padding-top: 42px;
        display: flex;
        // justify-content: center;
        // align-items: center;

        // .container {
        //     width: 1600px;
        // }
        // padding-right: 160px;
        // padding-left: 160px;
        .vertical-align {
            display: flex;
            align-items: center;
        }
        h1 {
            margin-bottom: 0;
            font-style: normal;
            font-weight: 800;
            font-size: 120px;
            text-transform: uppercase;
            color: #FFD874;
        }
        // &__wrapper {
        //     padding-top: 22px;
        //     
            
        // }
        &__contact {
            // width: 312px;
            height: 89px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;    
            color: #FFFFFF;
            text-transform: uppercase;  
        }   
        &__data {
            font-weight: 700;
            font-size: 36px;
        }
        &__place {
            font-weight: 400;
            font-size: 18px;
        }
        &__line {
            width: 312px;
            height: 8px;
            background: #FFD874;
        }
    }
    .descr {
        &__text {
            margin-top: 40px;
            // width: 923px;
            font-weight: 400;
            font-size: 16px;
            color: #DEE7EA;
            span {
                font-weight: 700;
            }
        }
        h2 {
            margin-bottom: 0;
            font-weight: 400;
            font-size: 40px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
    }
    .contacts {
        &__information {
            padding-left: 15px;
            margin-top: 48px;
            display: flex;
        }
        &__mail {
            margin-right: 85px;
            width: 237px;
            height: 67px;
            a {
                font-weight: 700;
                font-size: 18px;
                color: #FFFFFF;
                text-decoration: none;
                cursor: pointer;
                &:hover {
                    text-shadow: black 2px 2px 2px;
                }
            }
        }
        &__text {
            font-weight: 400;
            font-size: 14px;
            color: #DEE7EA;
        }
        
    }
    .footer {
        padding-left: 15px;
        position: absolute;
        bottom: 37px;
        &__wrapper {
        display: flex;
        justify-content: flex-start;
        }
        &__logo {
            margin-right: 64px;
            max-width: 161px;
            img {
                width: 100%;
            }
        }
        &__social {
            width: 144px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    

}